<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Vicente Ordonez, 2020">
<title>CS 6501 Final Project</title>

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/style.css?v=1.3" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="icon" href="static/images/uva-favicon.png" sizes="64x64" type="image/png">
<meta name="theme-color" content="#563d7c">